<!doctype html>
<html lang="en">
  <head>
    <title>YelpCamp App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/cdd7416981.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Personal Css -->
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/">YelpCamp <i class="fas fa-campground"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/campgrounds">Campgrounds</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-right">
    <% if (currentUser) { %>
      <li class="nav-item">
        <a class="nav-link" href="/account"><i class="fas fa-user-circle"></i> <%= currentUser.fullName %></a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/logout">Sing-Out <i class="fas fa-sign-out-alt"></i></a>
      </li>
    <% } else { %>
       <li class="nav-item ">
        <a class="nav-link" href="/login">Login <i class="fas fa-user"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Sing-Up <i class="fas fa-sign-in-alt"></i></a>
      </li>
     <% } %>
     
     
    </ul>


  </div>
</nav>
      

