body{
    background-color: whitesmoke;
}

figcaption{
    margin-top: 9px;
    font-size: larger;
}

.container{
    margin-top: 4rem;
}
.container_form{
    width: 50vw;
    margin: auto;
}

.card-img-top{
    height: 225px!important;
    object-fit: cover;
}
.card{
    margin-bottom: 1rem;
}
.img-thumbnail {
    padding: 0;
}
.img-thumbnail .img-fluid{
    width: 100%
}
 
.ui.red.button{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.or::before{
    box-shadow: 0px 0px 5px -2px black inset !important;
}
.comment{

        font-size: 0.65rem !important;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}