body{
    background: black;
}
nav{

    background-color: rgb(76, 76, 230);
}
.box{
    width: 30%;
    padding-bottom: 30%;
    background-color: red;
    border-radius: 20%;
    margin:1.66%;
    float:left;
}
.container{
    max-width: 600px;
}
p{
    margin: 0;
}
.center{
    
        width: 30%;
        display: inline-flex;
        justify-content: space-evenly;
}

.selected{
    background-color: white;
}
.center p:hover{
    background-color: white;
    transform: scale(1.1);
}
