body{
    background: black;
    font-weight: 700;
    color:white;
}
nav{

    background-color:white;
}
.box{
    width: 30%;
    padding-bottom: 30%;
    background-color: red;
    border-radius: 20%;
    margin:1.66%;
    float:left;
    transition: background-color 0.7s;
    
}
.container{
    max-width: 600px;
    margin: 20px auto;
}
p{
    margin: 0;
}
nav p {
    color: rgb(76, 76, 230);
}
.jumbotron.text-center{
    background-color: rgb(76, 76, 230);
}

.center{
    
    width: 30%;
    display: inline-flex;
    justify-content: space-evenly;
    
}

.selected{
    background-color: rgb(76, 76, 230);
    color: white;
}
.center p:hover{
    background-color:  rgb(76, 76, 230);
    transform: scale(1.1);
    color: white;
    transition: all 0.2s;
}