<% include partials/header %>

<h1>This is the camps Grounds page</h1>

<a href="campsgrounds/new">Add new campground<i class="fas fa-campground    "></i></a>


<%listOfCampsGrounds.forEach(campsGround => {%>
    <div>
        <h4><%= campsGround.name%></h4>
        <img src="<%= campsGround.img %>" alt="campsgound img">
    </div>
<%});%>

<% include partials/footer %>
